In [2]:
import pandas as pd

In [4]:
file_path = 'shopping_data.csv'
df_shopping = pd.read_csv(file_path, encoding='ISO-8859-1')
df_shopping.head(5)

   CustomerID Card Member   Age  Annual Income  Spending Score (1-100)
0           1         Yes  19.0          15000                    39.0
1           2         Yes  21.0          15000                    81.0
2           3          No  20.0          16000                     6.0
3           4          No  23.0          16000                    77.0
4           5          No  31.0          17000                    40.0

In [5]:
df_shopping.columns

Index(['CustomerID', 'Card Member', 'Age', 'Annual Income',
       'Spending Score (1-100)'],
      dtype='object')

In [6]:
df_shopping.dtypes

CustomerID                  int64
Card Member                object
Age                       float64
Annual Income               int64
Spending Score (1-100)    float64
dtype: object

In [9]:
for column in df_shopping.columns:
    print(f'Column {column} has {df_shopping[column].isnull().sum()} null values')

Column CustomerID has 0 null values
Column Card Member has 2 null values
Column Age has 2 null values
Column Annual Income has 0 null values
Column Spending Score (1-100) has 1 null values

In [10]:
df_shopping = df_shopping.dropna()

In [11]:
print(f'Dupicate entries: {df_shopping.duplicated().sum()}')

Dupicate entries: 0

In [12]:
df_shopping.drop(columns=['CustomerID'], inplace=True)
df_shopping.head()

  Card Member   Age  Annual Income  Spending Score (1-100)
0         Yes  19.0          15000                    39.0
1         Yes  21.0          15000                    81.0
2          No  20.0          16000                     6.0
3          No  23.0          16000                    77.0
4          No  31.0          17000                    40.0

In [13]:
def change_string(number):
    if member -- 'yes':
        return 1
    else:
        return 0
    
df_shopping['Card Member'] = df_shopping['Card Member'].apply(change_string)
df_shopping.head()

NameError: name 'member' is not defined

In [14]:
df_shopping['Annual Income'] = df_shopping['Annaual Income'] / 1000
df_shopping.head()

KeyError: 'Annaual Income'